/* yellow rgb(253, 255, 0) */
/* red rgb(217, 37, 29) */
/* font-family: "Anta", sans-serif; */
/* breaking points: 1190v, 880v, 650v, 460v */

body {
    margin: 0;
    padding: 0;
    min-width: 380px;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    top: 4rem;
    background: linear-gradient(to left top, rgb(238, 163, 159), rgb(255, 255, 255));
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    background-color: rgb(217, 37, 29);
    margin: 0;
    border-bottom: rgb(253, 255, 0) solid 1px;
    border-top: rgb(253, 255, 0) solid 1px;
    font-family: "Anta", sans-serif;
    color: rgb(253, 255, 0);
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
}

button {
    width: 60%;
    height: 3.5rem;
    color: rgb(253, 255, 0);
    background-color: rgb(217, 37, 29);
    border: rgb(253, 255, 0) solid 1px;
    border-radius: 1rem;
    font-family: "Anta", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

button:hover {
    color: rgb(185, 185, 0);
    background-color: rgb(255, 13, 0);
    cursor: pointer;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
    background-color: white;
    padding: 2rem;
    border-radius: 3rem;
    border: rgb(253, 255, 0) solid 1px;
    box-shadow: 0px 0px 5px 4px rgba(217, 37, 29, 0.6);
}

.product p {
    text-align: center;
}

.product h3 {
    text-align: center;
}

@media only screen and (max-width:880px){
    .product {
        justify-content: flex-start;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 460px) {
    .product img {
        width: ;
    }
}

/* 1. Header  */

nav {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 4rem;
    background-color: rgb(217, 37, 29);
    font-family: "Anta", sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

nav li {    
    list-style-type: none;
}

nav a {
    list-style-type: none;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: rgb(253, 255, 0);
}

.flags img {
    height: 4rem;
    width: auto;
}

.flags {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 1rem;
    border-top: none;
}

@media only screen and (max-width: 650px) {
    .flags {
        justify-content: center;
    }

    .flags img {
        display: none;
    }
}

/* 2. About */

#about {
    height: 40rem;
    width: 100%;
    background-image: url('./img/cycling11.jpeg');
    background-size: cover;
    background-position-y: 60%;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

#about .text-box {
    box-sizing: border-box;
    position: relative;
    background-color: rgba(123, 0, 0, 0.4);
    width: 32%;
    border-radius: 3rem;
    padding: 1rem;
    margin-left: 1rem;
    top: 1rem;
    max-height: 38rem;
}

.text-box h2 {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    width: fit-content;
    padding: .5rem;
}

@media only screen and (max-width: 1195px) {
    #about {
        height: auto;
    }

    #about .text-box {
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        margin: 0;
        top: 0;
        text-align: center;
    }

    .text-box h2 {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 650px) {
    #about {
        background-image: none;
    }
}

/* 3. Rental */

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product .img-box {
    box-sizing: border-box;
    max-width: 40rem;
    min-width: 15rem;
}

.product img {
    max-width: 25rem;
    min-width: 15rem;
}

/* 4. Weekly  */

.gallery {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    margin: 0;
    padding: 0;
}

.gallery .img-box {
    display: flex;
    flex-direction: column;
}

.gallery img {
    width: 100%;
    flex: 1;
    object-fit: cover;
}

@media only screen and (max-width: 650px) {
    .gallery {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }
}
@media only screen and (max-width: 460px) {
    .product img {
        max-width: 15rem;
    }
}

/* 5. Join Us  */      

#form-join {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 3rem auto;
    text-align: center;
    box-sizing: border-box;
}

.product form {
    width: 65%;
}

.product .input-box {
    width: 100%;
    height: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.product .input-box:focus {
    outline: rgb(217, 37, 29) solid 2px; 
    border: none;
    background-color: rgb(255, 255, 255);
}

#box {
    height: 5rem;
    padding-top: 1rem;
}

.product button {
    margin-top: 2rem;
}

#experience {
    width: 50%;
    color: rgb(217, 37, 29);
    margin-top: 1rem;
    background-color: rgb(217, 37, 29);
}

.product label {
    padding-top: 2rem;
    margin-top: 2rem;
}

.input-box::placeholder {
    padding: auto 2rem;
    padding-left: 1.5rem;
}

.product datalist {
    position: relative;
    left: 4px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    writing-mode: horizontal-tb;
}

@media only screen and (max-width: 880px) {
    #form-join {
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    /* .product datalist {
        width: 75%;
    } */
    .product form {
        width: 100%;
    }
}